name: build

on:
  push:
    branches:
      - main

  pull_request:

  merge_group:

  schedule:
    - cron: '0 1 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@d27c77221ce370d325be922cb50a9d8403a5b6a9 # v3.14.32
        with:
          save-cache: true

      - name: lint
        run: pnpm lint

  build:
    runs-on: ubuntu-latest

    needs:
      - lint

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false

      - name: binary-builder
        uses: containerbase/internal-tools@d27c77221ce370d325be922cb50a9d8403a5b6a9 # v3.14.32
        with:
          command: binary-builder
          dry-run: ${{github.ref_name != 'main'}}
          token: ${{ secrets.GITHUB_TOKEN }}
