name: build

on:
  push:
    branches:
      - main

  pull_request:

  merge_group:

  schedule:
    - cron: '0 1 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: ⚙️ Setup
        uses: containerbase/internal-tools/setup@fc0934d0824459fc256c54b22107b8ddb321f7c3 # v3.14.50
        with:
          save-cache: true

      - name: lint
        run: pnpm lint

  build:
    runs-on: ubuntu-latest

    needs:
      - lint

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false

      - name: binary-builder
        uses: containerbase/internal-tools@fc0934d0824459fc256c54b22107b8ddb321f7c3 # v3.14.50
        with:
          command: binary-builder
          dry-run: ${{github.ref_name != 'main'}}
          token: ${{ secrets.GITHUB_TOKEN }}
